@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.flexbox-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    width: 100%;
    align-self: flex-end;
}